# Some U-Blox GPS units need to be forced to 115200 baud. 

[Unit]
Description=GPS Set Serial service
After=gspd.service

[Service]
ExecStart=/usr/local/gpsd-prometheus-exporter/set_serial_gps
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target
