# Some U-Blox GPS units need to be forced to 115200 baud. 

[Unit]
Description=GPS Set Serial service
Before=gpsd.service
Before=gpsd.socket
Before=gpsd_exporter.service

[Service]
ExecStart=/usr/bin/ubxtool -v 1  -S 115200 -f /dev/ttyS0

[Install]
WantedBy=multi-user.target
